body {
  display: flex;
  flex-direction: column;
  margin: 0;
}
body #navigation {
  height: 100px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  display: flex;
  background-color: #1b1b1b;
  padding-left: 4%;
  padding-right: 4%;
  flex-direction: row;
  margin: 0;
}
body #navigation .button {
  display: flex;
  position: relative;
  border: 3px solid #e7e6e6;
  background-color: #979595;
  border-radius: 5px;
  margin-right: 1%;
  height: 50px;
  width: 150px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
body #navigation .button:hover {
  border-color: #337da8;
}
body #navigation .active {
  background-color: white;
}
body #text .text .fill {
  display: flex;
  justify-content: center;
}
body #text .text .fill .desc {
  padding: 0 0 2% 2%;
}
body #text .text .fill .desc h3 {
  text-align: center;
}
body #text .text .fill .desc #note {
  color: red;
}
body #text #trof {
  position: absolute;
  top: 85px;
  left: 0;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
body #footer {
  border-top: 1px solid black;
  position: fixed;
  width: 100%;
  background-color: #1b1b1b;
  left: 0;
  bottom: 0;
  text-align: center;
  color: #cecccc;
}
@media only screen and (max-width: 600px) {
  body #text {
    padding-top: 0;
  }
  body #text .text .fill {
    flex-direction: column;
    align-items: center;
  }
  body #text #trof {
    left: 2%;
  }
}
