body {
  display: flex;
  flex-direction: column;
  margin: 0;
  
  #navigation {
    
    position: relative;
    display: flex;
    background-color: rgb(27, 27, 27);
    padding: 4%;
    flex-direction: row;
    margin: 0;

    .button {
      display: flex;
      position: relative;
      border: 3px solid rgb(231, 230, 230);
      background-color: rgb(97, 97, 97);
      border-radius: 5px;
      margin-right: 1%;
      height: 50px;
      width: 150px;
      align-items: center;
      justify-content: center;
      cursor: pointer;

    }

    .button:hover {
      background-color: white;
    }

    .active {
      background-color: white;
    }

  }

  #text {
    #description{
      #test{
        display:flex;
        flex-direction:row;

    }
  }
    .text {
      padding: 4%;
    }
  }

  @media only screen and (max-width: 600px) {
    body{
      width:100%;
    #text {
      width:99%;
      #description{
        #test{
          display:flex;
          flex-direction:column;
         
          text-align:justify;
  
      }
    }
      .text {
        padding:4%;
      }
    }
  }
}

  #footer {
    border-top: 1px solid black;
    position: fixed;
    width: 100%;
    background-color: rgb(27, 27, 27);
    left: 0;
    bottom: 0;
    text-align: center;
    color: rgb(206, 204, 204);

  }
}