#buttons {
  display: flex;
  justify-content: space-between;
}

#prev {
  display: none;
  background-color: rgb(243, 157, 157);
  color: white;
  cursor: pointer;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  margin-left:5px;
  width:150px;
  justify-content: center;
}

h5 {
  padding-left: 10px;
}

h6 {
  padding-left: 10px;
}

#photo{
    display:flex;
    width:100%;
    justify-content: center;
}

a{
    text-decoration: none;
}

#prev:hover {
  background-color: rgb(243, 194, 194);
}

#next {
  display: none;
  background-color: rgb(116, 228, 116);
  color: white;
  cursor: pointer;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  margin-right:5px;
  width:150px;
  justify-content: center;
}
#next:hover {
  background-color: rgb(160, 228, 160);
}
