.header {
  display: flex;
  width: 100%;
  background-color: white;
  padding: 10px;
  padding-right: 30px;
}
.header .header-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header .header-panel .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
