#login {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#login .form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;
  flex-direction: column;
}
#login .form-container .button {
  width: 100%;
  margin-bottom: 10px;
}
#login .form-container .my-button {
  width: 180px;
}
#login .form-container a {
  width: 100%;
}
