.main #my-buttons {
  display: flex;
  width: 100%;
}
.main #my-buttons .button {
  width: 50%;
  border-radius: 0;
  margin: 0;
}
.main #raport {
  width: 100%;
  padding: 30px;
}
.main .data .table {
  margin: 0;
}
.main .data .table thead tr {
  text-align: center;
  background-color: #e0e1e2;
}
.main .data .table thead tr th {
  text-align: center;
}
.main .data .table tbody tr {
  text-align: center;
}
.main .data .table tbody tr td {
  text-align: center;
}
.main .data .bilance thead tr {
  width: 100%;
}
.main .data .bilance thead tr th {
  width: 50%;
}
.main .data .meals thead tr {
  width: 100%;
}
.main .data .meals thead tr th {
  width: 30%;
}
