.main {
  #my-buttons {
    display: flex;
    width  : 100%;

    .button {
      width        : 50%;
      border-radius: 0;
      margin       : 0;
    }
  }

  #raport {
    width  : 100%;
    padding: 30px;
  }

  .data {

    .table {

      margin: 0;

      thead {
        tr {
          text-align      : center;
          background-color: #e0e1e2;

          th {
            text-align: center;
          }
        }
      }

      tbody {
        tr {
          text-align: center;

          td {
            text-align: center;
          }
        }
      }
    }

    .bilance {
      thead {
        tr {
          width: 100%;

          th {
            width: 50%;
          }
        }
      }
    }

    .meals {
      thead {
        tr {
          width: 100%;

          th {
            width: 30%;
          }
        }
      }
    }
  }
}