#changePassword .form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;
  flex-direction: column;
}
#changePassword .form-container .sendmail {
  width: 400px;
  text-align: center;
}
#changePassword .form-container .changepassword {
  width: 400px;
  text-align: center;
}
#changePassword .form-container .button {
  width: 100%;
  margin-bottom: 10px;
}
