#register {
  width: 100%;
  display: flex;
  justify-content: center;
}
#register .form-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
#register .form-container .button {
  width: 100%;
}
