#login {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#login .form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;
  flex-direction: column;
}
#login .form-container .button {
  width: 100%;
  margin-bottom: 10px;
}
#login .form-container .my-button {
  width: 180px;
}
#login .form-container a {
  width: 100%;
}
.header {
  display: flex;
  width: 100%;
  background-color: white;
  padding: 10px;
  padding-right: 30px;
}
.header .header-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header .header-panel .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
#register {
  width: 100%;
  display: flex;
  justify-content: center;
}
#register .form-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
#register .form-container .button {
  width: 100%;
}
.main #my-buttons {
  display: flex;
  width: 100%;
}
.main #my-buttons .button {
  width: 50%;
  border-radius: 0;
  margin: 0;
}
.main #raport {
  width: 100%;
  padding: 30px;
}
.main .data .table {
  margin: 0;
}
.main .data .table thead tr {
  text-align: center;
  background-color: #e0e1e2;
}
.main .data .table thead tr th {
  text-align: center;
}
.main .data .table tbody tr {
  text-align: center;
}
.main .data .table tbody tr td {
  text-align: center;
}
.main .data .bilance thead tr {
  width: 100%;
}
.main .data .bilance thead tr th {
  width: 50%;
}
.main .data .meals thead tr {
  width: 100%;
}
.main .data .meals thead tr th {
  width: 30%;
}
#bmr {
  width: 100%;
  display: flex;
  justify-content: center;
}
#bmr .form-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
#bmr .form-container .button {
  width: 100%;
}
#bmr {
  width: 100%;
  display: flex;
  justify-content: center;
}
#bmr .form-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
#bmr .form-container .button {
  width: 100%;
}
#meals {
  width: 100%;
  display: flex;
  justify-content: center;
}
#meals .form-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
#meals .form-container .button {
  width: 100%;
}
#changePassword {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#changePassword .form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;
  flex-direction: column;
}
#changePassword .form-container .button {
  width: 100%;
  margin-bottom: 10px;
}
body {
  min-height: 100vh;
  width: 100vw;
  background-color: white;
}
body #App {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
body #App #All {
  display: block;
}
body #App #loader {
  display: none;
  width: 100vw;
  height: 100vh;
}
