body {
  margin: 0;
}
body .navbar .contact {
  cursor: pointer;
}
body .navbar .contact a:link {
  color: black;
}
body .navbar .contact a:visited {
  color: black;
}
body .navbar .contact a:hover {
  color: white;
  transition: 0.5s;
}
body .navbar .contact a:link {
  text-decoration: none;
}
body .navbar .contact a:active {
  color: black;
}
body .sector {
  padding: 30px 70px;
  min-height: 100vh;
}
body .sector h1 {
  text-align: center;
}
body #button_top {
  position: fixed;
  right: 7;
  bottom: 7;
  padding: 10px;
}
body footer {
  display: flex;
  justify-content: center;
}
