body {
  margin: 0;
}
body .contact {
  cursor: pointer;
}
body .contact a:link {
  color: black;
}
body .contact a:visited {
  color: black;
}
body .contact a:hover {
  color: white;
  transition: 0.5s;
}
body .contact a:link {
  text-decoration: none;
}
body .contact a:active {
  color: black;
}
body #text {
  padding: 30px 70px;
}
body #button_top {
  position: fixed;
  right: 7;
  bottom: 7;
  padding: 10px;
}
