body{
   
    margin:0;

    .contact{
        cursor:pointer;

        a:link{
            color:black;
        }

        a:visited{
            color:black;
        }

        a:hover{
            color:white;
            transition:0.5s;
        }

        a:link {
            text-decoration: none;
          }

        a:active{
            color:black;
        }


    }


    #text{
        padding:30px 70px;
    }

    #button_top{
        position:fixed;
        right:7;
        bottom:7;
        padding:10px;
    }

 



    @media only screen and (max-width: 1000px) {

        


    }


}