#navbar {
  background-color: #222222;
  width: 100%;
  height: 50px;
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: flex-end;
}
#navbar a {
  text-decoration: none;
  color: black;
  height: 100%;
}
#navbar .auth {
  background-color: white;
  width: 200px;
  height: 100%;
  margin-right: 20px;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
#navbar .auth:hover {
  background-color: #6e6e6e;
  color: white;
  transition-duration: 2s;
}
@media (max-width: 800px) {
  #navbar {
    justify-content: center;
  }
  #navbar .auth {
    margin: 0 10px 0 10px;
  }
}
@media (max-width: 400px) {
  #navbar {
    justify-content: center;
    flex-direction: column;
    height: 100px;
  }
  #navbar .auth {
    margin: 0;
    width: 100%;
  }
}
