.horses {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  flex-direction: column;
}
.horses #change-collection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}
.horses #change-collection #pages {
  padding: 5px;
  text-align: center;
  background-color: #222222;
  color: white;
  cursor: pointer;
}
.horses #change-collection div {
  cursor: pointer;
  padding: 5px;
  width: 100px;
  text-align: center;
  background-color: white;
  color: black;
}
.horses #change-collection div:hover {
  background-color: #6e6e6e;
  color: white;
  transition-duration: 2s;
}
.horses #collection ul {
  list-style-type: none;
  padding: 0 20px 0 20px;
}
.horses #collection ul .add {
  background-color: #27bd27;
  color: white;
  width: 200px;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
.horses #collection ul .add:hover {
  background-color: white;
  color: black;
  transition-duration: 2s;
}
.horses #collection ul li {
  background-color: #222222;
  color: white;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
}
.horses #collection ul li:hover {
  background-color: #6e6e6e;
  color: white;
  transition-duration: 2s;
}
@media (max-width: 400px) {
  #change-collection {
    flex-direction: column;
  }
}
