.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.main .first-main {
  color: white;
  background-color: #222222;
  height: 130px;
  margin-top: 5px;
  margin-right: 5px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.main .first-main:hover {
  background-color: #a19e9e;
  transition-duration: 2s;
}
.main .second-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .second-main .main-button {
  color: white;
  background-color: #222222;
  margin-top: 5px;
  height: 40px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.main .second-main .main-button:hover {
  background-color: #a19e9e;
  transition-duration: 2s;
}
@media (max-width: 400px) {
  .main {
    flex-direction: column;
  }
  .main .first-main {
    margin-right: 0;
    width: 100%;
  }
  .main .second-main {
    width: 100%;
  }
  .main .second-main .main-button {
    width: 100%;
  }
}
