.about {
  width: 76vw;

  align-self: center;
  margin: 1vh 0 0 5px;
}

#A2 {
  min-height: 100vh;
}

#about {
  display: flex;
}

#me {
  width: 100%;
  height: auto;
}

#life {
  width: 90%;
  padding: 0 5% 0 5%;
  background-color: grey;
  color: white;
}

#skills {
  width: 90%;
  background-color: grey;
  color: white;
  padding: 0 5% 0 5%;
}

@media only screen and (max-width: 1100px) {
  .about {
    width: 95vw;
    margin-left: 0;
    margin-right: 0;
    height: auto;
  }
}

@media only screen and (max-width: 500px) {
  #name {
    font-size: 20px;
  }

  #me{
    height:100%;
  }
}
