body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

a:hover {
    color: black;
}

a {
    text-decoration: none;
    color: white;
}

@media (max-width: 600px) {
    .menu {
        flex-direction: column;
        width: 200px !important;
        padding: 0;
        justify-content: space-around !important;
        align-items: flex-end !important;
    }

    .photo {
        width: 150px !important;
        height: 150px !important;
    }
}

.header_wrapper {
    width: 100%;
}

.footer {
    color: white;
    height: 100px;
    justify-content: flex-end !important;
    flex-direction: row !important;
}

.section {
    padding: 25px;
    font-size: 18px;
    text-align: justify;
    min-height: 300px;
}

.copyright {
    padding-right: 25px;
}

.header {
    background-color: lightblue;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.menu {
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    font-size: 20px;
}

.link {
    cursor: pointer;
    width: 100px;
    background-color: black;
    padding: 5px 0;
    text-align: center;
    border: 2px solid white;
}

.link:hover {
    border: 2px solid black;
    background-color: white;
    transition-duration: 1s;
}

.photo {
    width: 200px;
    height: 100%;
    background-size: cover;
    transform: scaleX(-1);
    cursor: pointer;
    background-image: url("https://img.icons8.com/plasticine/2x/cat.png");
}

.photo:hover {
    transform: scaleX(1);
    transition-duration: 1s;
}
