#navbar {
  background-color: #222222;
  width: 100%;
  height: 50px;
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: flex-end;
}
#navbar a {
  text-decoration: none;
  color: black;
  height: 100%;
}
#navbar .auth {
  background-color: white;
  width: 200px;
  height: 100%;
  margin-right: 20px;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
#navbar .auth:hover {
  background-color: #6e6e6e;
  color: white;
  transition-duration: 2s;
}
@media (max-width: 800px) {
  #navbar {
    justify-content: center;
  }
  #navbar .auth {
    margin: 0 10px 0 10px;
  }
}
@media (max-width: 400px) {
  #navbar {
    justify-content: center;
    flex-direction: column;
    height: 100px;
  }
  #navbar .auth {
    margin: 0;
    width: 100%;
  }
}
.authorization {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
.authorization .login {
  padding: 50px;
}
.authorization .login form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.authorization .login form input {
  margin-top: 5px;
  height: 40px;
  width: 150px;
}
.authorization .login form #login {
  margin-top: 5px;
  height: 40px;
  width: 150px;
  background-color: #222222;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.authorization .login form #login:hover {
  background-color: #a19e9e;
  transition-duration: 2s;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.main .first-main {
  color: white;
  background-color: #222222;
  height: 130px;
  margin-top: 5px;
  margin-right: 5px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.main .first-main:hover {
  background-color: #a19e9e;
  transition-duration: 2s;
}
.main .second-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .second-main .main-button {
  color: white;
  background-color: #222222;
  margin-top: 5px;
  height: 40px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.main .second-main .main-button:hover {
  background-color: #a19e9e;
  transition-duration: 2s;
}
@media (max-width: 400px) {
  .main {
    flex-direction: column;
  }
  .main .first-main {
    margin-right: 0;
    width: 100%;
  }
  .main .second-main {
    width: 100%;
  }
  .main .second-main .main-button {
    width: 100%;
  }
}
.horses {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  flex-direction: column;
}
.horses #change-collection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}
.horses #change-collection #pages {
  padding: 5px;
  text-align: center;
  background-color: #222222;
  color: white;
  cursor: pointer;
}
.horses #change-collection div {
  cursor: pointer;
  padding: 5px;
  width: 100px;
  text-align: center;
  background-color: white;
  color: black;
}
.horses #change-collection div:hover {
  background-color: #6e6e6e;
  color: white;
  transition-duration: 2s;
}
.horses #collection ul {
  list-style-type: none;
  padding: 0 20px 0 20px;
}
.horses #collection ul .add {
  background-color: #27bd27;
  color: white;
  width: 200px;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
.horses #collection ul .add:hover {
  background-color: white;
  color: black;
  transition-duration: 2s;
}
.horses #collection ul li {
  background-color: #222222;
  color: white;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
}
.horses #collection ul li:hover {
  background-color: #6e6e6e;
  color: white;
  transition-duration: 2s;
}
@media (max-width: 400px) {
  #change-collection {
    flex-direction: column;
  }
}
.classes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  flex-direction: column;
}
.classes #change-collection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}
.classes #change-collection #pages {
  padding: 5px;
  text-align: center;
  background-color: #222222;
  color: white;
  cursor: pointer;
}
.classes #change-collection div {
  cursor: pointer;
  padding: 5px;
  width: 100px;
  text-align: center;
  background-color: white;
  color: black;
}
.classes #change-collection div:hover {
  background-color: #6e6e6e;
  color: white;
  transition-duration: 2s;
}
.classes #collection ul {
  list-style-type: none;
  padding: 0 20px 0 20px;
}
.classes #collection ul .add {
  background-color: #27bd27;
  color: white;
  width: 200px;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
.classes #collection ul .add:hover {
  background-color: white;
  color: black;
  transition-duration: 2s;
}
.classes #collection ul li {
  width: 220px;
  display: flex;
  margin-bottom: 10px;
}
.classes #collection ul li .edit {
  background-color: #da9517;
  color: white;
  cursor: pointer;
  width: 20%;
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.classes #collection ul li .edit:hover {
  background-color: #6e6e6e;
  color: white;
  transition-duration: 2s;
}
.classes #collection ul li .calculator {
  padding: 10px 0 10px 0;
  width: 80%;
  background-color: #222222;
  color: white;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}
.classes #collection ul li .calculator:hover {
  background-color: #6e6e6e;
  color: white;
  transition-duration: 2s;
}
@media (max-width: 400px) {
  #change-collection {
    flex-direction: column;
  }
}
.judges {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  flex-direction: column;
}
.judges #change-collection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}
.judges #change-collection #pages {
  padding: 5px;
  text-align: center;
  background-color: #222222;
  color: white;
  cursor: pointer;
}
.judges #change-collection div {
  cursor: pointer;
  padding: 5px;
  width: 100px;
  text-align: center;
  background-color: white;
  color: black;
}
.judges #change-collection div:hover {
  background-color: #6e6e6e;
  color: white;
  transition-duration: 2s;
}
.judges #collection ul {
  list-style-type: none;
  padding: 0 20px 0 20px;
}
.judges #collection ul .add {
  background-color: #27bd27;
  color: white;
  width: 200px;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
.judges #collection ul .add:hover {
  background-color: white;
  color: black;
  transition-duration: 2s;
}
.judges #collection ul li {
  background-color: #222222;
  color: white;
  width: 200px;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
}
.judges #collection ul li:hover {
  background-color: #6e6e6e;
  color: white;
  transition-duration: 2s;
}
@media (max-width: 400px) {
  #change-collection {
    flex-direction: column;
  }
}
.horse {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  flex-direction: column;
}
.horse .panel {
  display: flex;
  align-items: center;
  padding: 5px;
  flex-direction: column;
}
.horse .panel .button {
  width: 100%;
  height: 50px;
  color: white;
  background-color: #222222;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.horse .panel .button:hover {
  background-color: white;
  color: black;
  transition-duration: 2s;
}
.horse .panel .save {
  background-color: #27bd27;
}
.horse .panel .delete {
  background-color: #db5252;
}
.horse .panel .main {
  margin: 0;
  padding: 5px 0 5px 0;
}
.horse .panel .main .info {
  display: flex;
  border: 1px solid black;
  padding: 5px;
}
.horse .panel .main .info .first {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-right: 5px;
}
.horse .panel .main .info .first input {
  margin-bottom: 5px;
}
.horse .panel .main .info .first label {
  margin-bottom: 5px;
}
.horse .panel .main .info .first select {
  width: 100%;
}
.horse .panel .main .info .second {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.horse .panel .main .info .second input {
  margin-bottom: 5px;
}
.horse .panel .main .info .second label {
  margin-bottom: 5px;
}
@media (max-width: 400px) {
  .info {
    flex-direction: column;
  }
}
.judge {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  flex-direction: column;
}
.judge .panel {
  display: flex;
  align-items: center;
  padding: 5px;
  flex-direction: column;
}
.judge .panel .button {
  width: 100%;
  height: 50px;
  color: white;
  background-color: #222222;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.judge .panel .button:hover {
  background-color: white;
  color: black;
  transition-duration: 2s;
}
.judge .panel .save {
  background-color: #27bd27;
}
.judge .panel .delete {
  background-color: #db5252;
}
.judge .panel .main {
  margin: 0;
  padding: 5px 0 5px 0;
}
.judge .panel .main .info {
  display: flex;
  border: 1px solid black;
  padding: 5px;
}
.judge .panel .main .info .first {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-right: 5px;
}
.judge .panel .main .info .first input {
  margin-bottom: 5px;
}
.judge .panel .main .info .first label {
  margin-bottom: 5px;
}
.judge .panel .main .info .first select {
  width: 100%;
}
.judge .panel .main .info .second {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.judge .panel .main .info .second input {
  margin-bottom: 5px;
}
.judge .panel .main .info .second label {
  margin-bottom: 5px;
}
@media (max-width: 400px) {
  .info {
    flex-direction: column;
  }
}
.class {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  flex-direction: column;
}
.class .panel {
  display: flex;
  align-items: center;
  padding: 5px;
  flex-direction: column;
}
.class .panel .button {
  width: 100%;
  height: 50px;
  color: white;
  background-color: #222222;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.class .panel .button:hover {
  background-color: white;
  color: black;
  transition-duration: 2s;
}
.class .panel .save {
  background-color: #27bd27;
}
.class .panel .delete {
  background-color: #db5252;
}
.class .panel .main {
  margin: 0;
  padding: 5px 0 5px 0;
}
.class .panel .main .info {
  display: flex;
  border: 1px solid black;
  padding: 5px;
  align-items: center;
}
.class .panel .main .info .first {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.class .panel .main .info .first .classname {
  display: flex;
}
.class .panel .main .info .first .classname .number {
  padding: 5px;
}
.class .panel .main .info .first .classname input {
  margin-bottom: 5px;
}
.class .panel .main .info .first input {
  margin-bottom: 5px;
}
.class .panel .main .info .first label {
  margin-bottom: 5px;
}
.class .panel .main .info .first select {
  width: 100%;
}
.class .panel .main .info .first .judge-pagination {
  display: flex;
  width: 160px;
  justify-content: center;
  align-items: center;
}
.class .panel .main .info .first .judge-pagination .pages {
  width: 50px;
  padding: 5px;
  text-align: center;
  background-color: #222222;
  color: white;
  cursor: pointer;
}
.class .panel .main .info .first .judge-pagination div {
  width: 50px;
  cursor: pointer;
  padding: 5px;
  text-align: center;
  background-color: white;
  color: black;
}
.class .panel .main .info .first .judge-pagination div:hover {
  background-color: #6e6e6e;
  color: white;
  transition-duration: 2s;
}
.class .panel .main .info .first .judge {
  background-color: #222222;
  color: white;
  width: 150px;
  cursor: pointer;
  text-align: center;
  margin: 5px;
  display: flex;
  flex-direction: column;
  height: 100px;
}
.class .panel .main .info .first .judge .name {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
  width: 150px;
}
.class .panel .main .info .first .judge .name:hover {
  background-color: #6e6e6e;
  color: white;
  transition-duration: 2s;
}
.class .panel .main .info .first .judge .delete {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 150px;
  height: 40%;
}
.class .panel .main .info .first .judge .delete:hover {
  background-color: white;
  color: black;
  transition-duration: 2s;
}
.class .panel .main .info .first .add {
  background-color: #27bd27;
}
.class .panel .main .info .first .add:hover {
  background-color: white;
  color: black;
  transition-duration: 2s;
}
.class .panel .main .info .second {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.class .panel .main .info .second input {
  margin-bottom: 5px;
}
.class .panel .main .info .second label {
  margin-bottom: 5px;
}
@media (max-width: 400px) {
  .info {
    flex-direction: column;
  }
}
#calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  flex-direction: column;
  flex: 1;
}
#calculator div .podium {
  overflow: auto;
  border: 1px solid black;
  height: 100px;
  width: 390px;
  margin-bottom: 10px;
  padding: 5px 5px 0 5px;
  cursor: pointer;
  resize: both;
}
#calculator div .podium div {
  background-color: black;
  color: white;
  margin-bottom: 5px;
  padding: 5px;
}
#calculator .category {
  background-color: #222222;
  color: white;
  min-height: 50px;
  width: 400px;
  margin-bottom: 10px;
  text-align: center;
  cursor: pointer;
  display: flex;
}
#calculator .category .name {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#calculator .noteinfo {
  margin: 0;
  display: flex;
  height: auto;
  width: 400px;
  height: 40px;
}
#calculator .noteinfo .choosehorse {
  width: 50%;
}
#calculator .noteinfo div {
  width: 10%;
  padding: 0 5px;
  border: 2px solid black;
  background-color: #999292;
  display: flex;
  justify-content: center;
  align-items: center;
}
#calculator .notes {
  width: 400px;
  height: 40px;
}
#calculator .notes .arbitrator {
  width: 400px;
  min-height: 40px;
  background-color: #eb0f0f;
  color: white;
  display: flex;
}
#calculator .notes .arbitrator input {
  width: 50%;
  height: 40px;
}
#calculator .notes .arbitrator div {
  width: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
#calculator .notes .result {
  cursor: pointer;
  width: 100%;
  background-color: #d4d3d3;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#calculator .notes .row {
  height: 40px;
  display: flex;
}
#calculator .notes .row input {
  width: 10%;
}
#calculator .notes .row .judge {
  color: white;
  background-color: #999292;
  height: 100%;
  width: 50%;
  margin: 0;
  cursor: pointer;
}
#calculator .notes .row .judge:hover {
  background-color: #6e6e6e;
  color: white;
  transition-duration: 2s;
}
#calculator .size {
  width: 400px;
}
@media (max-width: 400px) {
  #calculator .podium {
    width: 100%;
  }
  #calculator .category {
    flex-direction: column;
    width: 100%;
  }
  #calculator .category .name {
    width: 100%;
    padding: 5px 0 5px 0;
  }
  #calculator .size {
    width: 100%;
  }
  #calculator .noteinfo {
    width: 100%;
  }
  #calculator .notes {
    width: 100%;
  }
}
body {
  width: 100vw;
  min-height: 100vh;
  background-color: #ffdd1e;
  margin: 0;
}
body #app {
  height: 100%;
}
body #app #routes {
  display: flex;
  width: 100%;
}
body #app #routes .route {
  cursor: pointer;
  width: 33.33333333%;
  color: white;
  display: flex;
  justify-content: center;
}
body #app #routes .route:nth-child(1) {
  background-color: red;
}
body #app #routes .route:nth-child(2) {
  background-color: red;
}
body #app #routes .route:nth-child(3) {
  background-color: red;
}
body #app #routes .route:hover {
  color: black;
  background-color: white;
  transition-duration: 2s;
}
body #app #user {
  color: white;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}
