html {
  scroll-behavior: smooth;
}

.app {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
}

#button_top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  cursor: pointer;
}

.start {
  visibility: hidden;
}

.update {
  visibility: visible;
}

footer {
  background-color: rgb(90, 82, 82);
  color: white;
  text-align: center;
  margin-top:5px;
}
